{% extends "base.html" %}
{% load static %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock CSS %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">

        <!-- LEFT COLUMN -->
        <div class="col-md-6 p-0 mb-5">
            <img 
                src="{% static 'images/Travel.png' %}" 
                class="img-fluid w-100"
                alt="Travel Image">
        </div>

        <!-- RIGHT COLUMN -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="page p-4">
                <h4>
                    Sujal’s Travel is a domestic travel booking system designed to help users 
                    book tickets for travel within the country. The platform allows users to select 
                    their from and destination locations, and choose different types of vehicles such 
                    as bus or plane.
                </h4>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
